USE [US_EXPENDITURES]
GO
/****** Object:  StoredProcedure [dbo].[US_Expenditure_Table_Creation_ETL]    Script Date: 12/12/2025 15:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ALTER  PROCEDURE [dbo].[US_Expenditure_Table_Creation_ETL]
--AS

/********************************************************************
In this code, we drop and create all the relevant US tables for the ETL process. 
This will enable us to re-run the entire process from scratch when required.
*********************************************************************/

DROP TABLE IF EXISTS US_EXPENDITURES.DBO.HOUSEHOLD_MEMBERS 

CREATE TABLE US_EXPENDITURES.DBO.HOUSEHOLD_MEMBERS 
(
HOUSEHOLD_ID INT, 
[YEAR] INT,
MARITAL INT,
SEX INT,
AGE INT,
WORK_STATUS VARCHAR(5),
--PRIMARY KEY () -- This table does not have a primary key. 
)


DROP TABLE IF EXISTS US_EXPENDITURES.DBO.HOUSEHOLDS
CREATE TABLE US_EXPENDITURES.DBO.HOUSEHOLDS (
    HOUSEHOLD_ID INT,
    [YEAR] INT,
    INCOME_RANK FLOAT,
    INCOME_RANK_1 FLOAT,
    INCOME_RANK_2 FLOAT,
    INCOME_RANK_3 FLOAT,
    INCOME_RANK_4 FLOAT,
    INCOME_RANK_5 FLOAT,
    INCOME_RANK_MEAN FLOAT,
    AGE_REF INT
    PRIMARY KEY (HOUSEHOLD_ID)
);

DROP TABLE IF EXISTS US_EXPENDITURES.DBO.EXPENDITURES

CREATE TABLE US_EXPENDITURES.DBO.EXPENDITURES (
    EXPENDITURE_ID INT,
    HOUSEHOLD_ID INT, 
    [YEAR] INT,
    [MONTH] INT,
    PRODUCT_CODE INT,
    COST FLOAT,
    GIFT INT,
    IS_TRAINING INT
    PRIMARY KEY (EXPENDITURE_ID)
);

DROP TABLE IF EXISTS US_EXPENDITURES.DBO.HOUSEHOLDS_DERIVED_FEATURES
CREATE TABLE US_EXPENDITURES.DBO.HOUSEHOLDS_DERIVED_FEATURES
(
    HOUSEHOLD_ID INT,
    [YEAR] INT,
    INCOME_RANK FLOAT,
    INCOME_RANK_1 FLOAT,
    INCOME_RANK_2 FLOAT,
    INCOME_RANK_3 FLOAT,
    INCOME_RANK_4 FLOAT,
    INCOME_RANK_5 FLOAT,
    INCOME_RANK_MEAN FLOAT,
    AGE_REF INT,
    NUMBER_OF_HOUSEHOLD_JOBS INT,
    NUMBER_OF_HOUSEHOLD_MEMBERS_WITH_JOBS INT,
    NUMBER_OF_HOUSEHOLD_MEMBERS INT,
    NUMBER_OF_FEMALES INT,
    NUMBER_OF_GIFTS INT,
    NUMBER_OF_PURCHASES INT,
    BAND_ONE_PURCHASES INT, 
    BAND_TWO_PURCHASES INT,
    BAND_THREE_PURCHASES INT,
    BAND_FOUR_PURCHASES INT, 
    BAND_FIVE_PURCHASES INT, 
    BAND_SEX_PURCHASES INT,
    BAND_SEVEN_PURCHASES INT, 
    TOTAL_SPENT FLOAT
    PRIMARY KEY (HOUSEHOLD_ID)
    )
